/* fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,900);

/*NAV-BAR*/
nav {
	border: none;
    height: 40px;
    opacity: .95;
    background: black;
    position: fixed;
} 

nav p {
	font-family: 'Lato';
	display: inline-block;
	float: right;
	margin: 4px 14px 0 0;
	color: white;
	font-size: 20px;
}

.container.full {
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;

}

.logo {
	width: 28px;
	margin: 6px;
}

/*BODY*/

body {
	border: none;
	padding-top: 35px;
	font-family: 'Lato';
}

.pattern {
	background: -webkit-linear-gradient(left top, #206C55 , #52B29D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #206C55, #52B29D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #206C55, #52B29D ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #206C55 , #52B29D); /* Standard syntax (must be last) */
}


.name {
	width: 20%;
}

.title h1 {
	font-family: 'Lato';
	color: white;
	font-weight: 900;
	font-size: 100px;
}

.4th h1 {
	margin-bottom: 15px;
}


.lead {
	text-align: center;
	color: white;
	font-size: 50px;
}

/*FOOTER*/

footer {
	color: black;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*MEDIA QUERIES*/

@media (min-width: 1200px) {
	.container.full {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.container.full {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container.full {
		width: 100%;
	}
}









