/*NAV-BAR*/

.topbar {
	border: none;
    height: 70px;
    opacity: .98;
    background: -webkit-linear-gradient(left top, black , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, black , rgb(122,122,122)); /* Standard syntax (must be last) */
} 

body {
	border: none;
	height: 100%;
	background: -webkit-linear-gradient(left top, #197811 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #197811, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #197811, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #197811 , rgb(80,186,85)); /* Standard syntax (must be last) */
} 

button {
	margin-left: 100px;
}

h1, h2, h3 {
	font-family: sansationbold;
}

.dropdown-menu h3, li, button {
	text-align: center;
	padding: 5px;
}

.logo {
	width: 50px;
	margin: 11px;
}

.btn-group {
	float: right;
	margin-right: 20px; /* not 100 */
}


#desktopmotto {
	font-family: sans-serif;
	color: white;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}

#phonemotto {
	font-size: 35px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}

.dropdown-toggle {
	width: 150%;
	margin-top: 14px; 
	background-color: #197811;
}

/* style buttons top */

.topbar button {
	padding: 0;
	font-size: 30px;
	width: 150px;
}

#signup > button {
	background-color: black;
	border-color: black;
	color: white;
}

#login > button {
	background-color: #197811;
	border-color: #197811;
	color: white;
}

.dropdown-menu {
	width: 270px;
	left: -120px !important; /*login*/

	background: -webkit-linear-gradient(left top, #197811 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #197811, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #197811, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #197811 , rgb(80,186,85)); /* Standard syntax (must be last) */
}

.dropdown-menu button {
	background-color: transparent; /*IE compatible?*/
	border: none;
	outline: none;
	color: white;
	font-size: 20px;
}

.dropdown-logo {
	width: 200px;
	margin: 10px;
	margin-left: 35px;
	margin-bottom: 35px;
}



.dropdown-login {
	width: 80%;
	margin: 5px;
	margin-left: 25px;
}

.btn-group li {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

.btn-group  .form-control {
	text-align: center;
	opacity: 0.8;
}


/*BODY*/

body {
	padding-top: 80px;
}

#desktopmotto {
	padding-bottom: 10px;
}

.iphone_5c {
	width: 350px;
	margin-left: 45%;
}

.iphone_gold {
	width: 210px;

margin-top: 10px;}

.name {
	width: 52%;
	margin-left: 23%;
	padding-top: 25px;
	padding-bottom: 15px;
}

.lead {
	text-align: center;
	color: white;
	font-size: 50px;
}

/*FOOTER*/

footer {
	color: white;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*MEDIA QUERIES*/

/*Deletes "Your Cards, Your Way, except for phone*/

@media (max-width: 915px) {
	.iphone_gold {
		display: none;
	}

	#ipad {
		margin-left: 10%;
	}

}

@media (max-width: 1200px) {
	.iphone_5c {
		margin-left: 35%;
		margin-top: 0px;
	}
}

@media (max-width: 992px) {
	.iphone_5c {
		margin-left: 15%;
		margin-top: 0px;
	}
}



@media (max-width: 542px) {

	#center {
		position: relative;
		width: 295px;
		margin: auto;
	}

	#ipad {
		display: block;
		margin-left: auto;
		margin-right: auto; 
	}

	body {
		padding-top: 50px;
	}

	.logo {
		width: 35px;
	}

	#phonemotto {
		color: white;
		padding-bottom: 0px;
	}

	#desktopmotto {
		display: none;
	}

	.btn-group {
		margin-right: 70px;
	}

	.topbar {
		height: 55px;
	}

	.dropdown-toggle {
		margin-top: 11px;
	}

	.dropdown-menu {
		width: 215px;
	}

	.dropdown-logo {
		width: 160px;
		margin-left: 30px;
		margin-bottom: 30px;
	}

	#desktopmotto {
		display: none;
	}

	#login, #signup {
		width: 40px;
	}

	#login button {
		font-size: 22px;
		width: 95px;
	}

	#signup button {
		font-size: 22px;
		width: 95px;
	}


}

/*Large phones, small, medium, and large tablets*/
@media (min-width: 726px) and (max-width: 991px) {

	#desktopmotto {
		font-size: 40px;
		margin-left: 5px;
		margin-right: 5px;
	}	

	#phonemotto {
		display: none;
	}

	#swapcenter, #search {
		display: none;
	}

	#search_tab {
		position: absolute;
	}
}

@media (min-width: 991px) {
	#phonemotto {
		display: none;
	}
}

@media (min-width: 543px) and (max-width: 725px) {

	#phonemotto {
		display: none;
	}

	#desktopmotto {
		font-size: 40px;
		margin-left: 5px;
		margin-right: 5px;
	}	

	#swapcenter, #search {
		display: none;
	}

	#search_tab {
		position: absolute;
	}

	#login, #signup {
		width: 105px;
	}

	#login button, #signup button {
		font-size: 27px;
		width: 110px;
		margin-top: 16px;
	}

	.dropdown-menu {
		width: 230px;
	}

	.dropdown-logo {
		width: 175px;
		margin-left: 30px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 424px) {
	#login, #signup {
		width: 15px;
	}

	#login button, #signup button {
		font-size: 18px;
		width: 75px;
		margin-top: 16px;
	}

	.dropdown-menu {
		width: 196px;
	}

	.dropdown-logo {
		width: 145px;
		margin-bottom: 25px;
	}
}


@media screen and (max-width: 355px) {
		
	.logo {
		width: 135px;
		margin-top: 16px;
	}

	#login, #signup {
		width: 5px;
	}

	#login button, #signup button {
		font-size: 16px;
		width: 70px;
	}

	.dropdown-menu {
		width: 191px;
	}

	.dropdown-logo {
		width: 145px;
		margin-bottom: 25px;
	}

	.dropdown-login {
		margin-left: 20px;
	}
}

